*.o
*.lo
*.la
*.Plo
.deps/
.libs/
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
ltmain.sh
missing
build.log
libquiver_build.log
